@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;

}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.big-button {
  font-size: 20px;
  line-height: 36px;
}

.brown-button {
  background-color: #756157;
}

.button-selected-green {
  background-color:#7DB54F;
}



.page-header {
  color: #000000;
  background: #ffffff;

}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;

}

.navigation-list {
  list-style-type: none;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

.welcome-image {
  background-image: url("../images/index-background.jpg");
  background-color: rgb(200, 219, 241);
  color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.welcome-divider{
  background-image: url("../images/index-divider.svg");
  background-repeat: no-repeat;
  background-position: center bottom;


}

.welcome-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.welcome-description{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
 }

.advantages-list {
  text-align: center;
  list-style-type: none;
}

.advantage-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-item {
  background: rgba(131, 179, 211, 0.2);
}
.blue-item {
  background: #82B3D3; ;
}

.search {
  text-align: center;
  background: #ffffff;

}

.search-title {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}

.subscribe {
  background-image: url("../images/subsribe-background.jpg");
  background-color: #82B3D3;
  color: #ffffff;
  text-align: center;

}

.subscribe-title {
  text-transform: uppercase;
}

.page-footer {

  color: #000000;
  background-color: #ffffff;

}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration-line: none;
  color:#000000;

}

.filter-header-title {
  font-size: 60px;
  line-height: 78px;

}

.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
}

.filter {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-color: #82B3D3;
  color:#ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.product-card {
  background-color: #ffffff;
}


.product-card-link {
  text-decoration: none;
}


.product-card-title {
  font-weight: 700;
  color: #000000;
}


.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/* Link */
.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}
