@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.big-button {
  font-size: 20px;
  line-height: 36px;
  padding-left: 34px;
  padding-right: 34px;
}

.brown-button {
  background-color: #756157;
}

.button-selected-green {
  background-color:#7db54f;
}

.page-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;
  background-color: #ffffff;
}

.main-container {
 flex-grow: 1;
}

.page-header {
  display:flex;
  padding-left: 70px ;
  padding-right: 70px;
}

.navigation {
  display: flex;
  width: 100%;
}

.logo {
  position: relative;
  margin-bottom: -6px;
  margin-right: 30px;
  width: 140px;
  height: 70px;
  z-index: 2;

}

.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
  color: inherit;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 450px;
}
.navigation-item{
  display:flex;
}

.navigation-user {
  display: flex;
  max-width: 310px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-link-search{
 margin:auto;
 background-image: url("../images/header/search.svg");
 background-repeat: no-repeat;
 background-position: center;
 padding: 0;
}

.navigation-link-favorite{
  background-image: url("../images/header/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: auto;
  margin-left: 26px;
}

.navigation-user .button {
  margin:auto;
  display: block;
  margin-left: 20px;
  padding-left: 34px;
  padding-right: 34px;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

.welcome-image {
  position:relative;
  background-image: url("../images/index-background.jpg");
  background-color: #b6d3e7;
  color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.welcome-image-content {
  display: block;
  margin: 0 auto;
}

.welcome-image::after{
  position:absolute;
  content:" ";
  background-image: url("../images/index-divider.svg");
  background-repeat: no-repeat ;
  width:1200px;
  height:57px;
  z-index: 20;
  margin-top: 25px;
}

.welcome-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 69px;
  margin-bottom: 25px;
  padding-left: 290px;
  padding-right: 290px;
}

.welcome-description{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 90px;
  padding-left: 274px;
  padding-right: 274px;
 }

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.advantage-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin:0 auto;
  max-width: 175px;
}


.advantages-image{
  display: block;
  width: 800px;
}

.advantages-item {
  position:relative;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  padding: 103px 85px 121px 85px;

}

.advantages-item::before{
  position:absolute;
  display:block;
  width:60px;
  height:2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 86px;
}

.advantages-description {
 margin:0;
 margin-top: 62px;
}

.blue-item {
  display:flex;
  background: #82b3d3;
  width: 100%;
}

.blue-item-text {
  position:relative;
  box-sizing: border-box;
  width: 400px;
  padding: 92px 85px 111px 85px;
}

.blue-item-text::before{
  position:absolute;
  display:block;
  width:60px;
  height:2px;
  background-color: rgba(255, 255, 255, 0.3);
   content: "";
   margin-left: 85px;
   margin-right: 85px;
  margin-top: 86px;
}

.advantages-icon-item{
  padding: 182px 85px 81px 85px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
}

.icon-item-haus{
  background-image: url("../images/advantages-icon-1.svg");
  background-repeat: no-repeat;
  background-position: center top 80px;
}

.icon-item-food{
  background-image: url("../images/advantages-icon-2.svg");
  background-repeat: no-repeat;
  background-position: center top 80px;
}

.icon-item-suvenirs{
  background-image: url("../images/advantages-icon-3.svg");
  background-repeat: no-repeat;
  background-position: center top 80px;
}

.midle-item{
  background: rgba(131, 179, 211, 0.2);
}

.white-item{
  background-color: #ffffff;
}

.search {
  text-align: center;
  background: #ffffff;
  padding: 96px 304px 96px 304px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin:0;
  margin-bottom: 20px;
}

.search-description{
  margin:0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}


.subscribe {
  background-image: url("../images/subsribe-background.jpg");
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  background-size: 100% auto;
  padding: 96px 258px 104px 258px;
}

.subscribe-inner{
  background-image:none;
  background-color: #ffffff;
  color: #000000;
}

.subscribe-title {
  text-transform: uppercase;
  margin:0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-description{
  margin:0;
  margin-bottom:54px;
  padding-left: 104px;
  padding-right: 104px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

/*
.input-email{
  box-sizing: border-box;
  width: 452px;
  height: 52px;
  padding: 12px 20px 12px 20px;
  background: #F2F2F2;
border-radius: 4px 0px 0px 4px;
}*/

.email-form .button{
  border-radius: 0px 4px 4px 0px;
  padding-left: 50px;
  padding-right: 50px;

}

.footer-contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration-line: none;
  color:#000000;
}


/*.filter-wrapper{
  display: flex;
  width: 100%;
}*/

.filter-hotels{
  display: flex;
  width: 100%;
}

.filter-hotels-item:not(:last-child){
  margin-bottom: 16px;
}

.filter-hotels-group{
  display: block;
  width: 150px;
  margin:0;
  margin-right: 70px;
  border-style: none;
  padding:0;
  padding-bottom: 73px;
}

.filter-hotels-title{
  margin-bottom: 32px;
}

.filter-header {
  margin-bottom: 40px;
  padding-top: 35px;
}

.filter-header-title {
  font-size: 60px;
  line-height: 78px;
  margin:0;
  margin-bottom: 8px;
}

.filter-hotels-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-transparent{
  margin-top: 32px;
  background-color: transparent;
}

.page-footer {
  display: flex;
  padding: 45px 70px 35px 70px;
}

.footer-contacts {
  width: 720px;
}

.footer-social,
.footer-logo {
  width: 170px;
}

.footer-social-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*
.footer-social-item:not(:last-child) {
  margin-right: 8px;
 }*/

 .footer-social-link{
  position: relative;
  display: block;
  width: 47px;
  height: 40px;
  padding: 0;
}

.footer-social-icon{
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
}

.breadcrumbs {
  display: flex;
  color: #ffffff;
  margin:0;
  padding: 0;
  list-style: none;
  width: 114px;
}

.breadcrumbs-link {
  color: inherit;
}

.breadcrumbs-item-catalog{
  margin-left: auto;
  background-image: url("../images/catalog/catalog-breadcrumps.svg");
  background-repeat: no-repeat;
  background-size: 6px 10px;
  background-position: center left 11px;
  padding-left: 29px;
}

.filter {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-color: #82b3d3;
  color:#ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-left: 70px;
  padding-right: 70px;
}

.filter-buttons-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  padding-bottom: 70px;
  width: 191px;
  margin-left: auto;
  justify-content: flex-end;
}

.filter-buttons-wrapper .button{
  width:100%;
}


.catalog {
  padding: 50px 70px 60px 70px;
}

.catalog-sorting {
  display: flex;
  margin-bottom: 40px;
}

.catalog-sorting .button{
  display:block;
  width: 48px;
  height: 48px;
}

.catalog-sorting .button:not(:last-child){
   margin-right: 8px;
}

.search-result {
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin:0;
  max-width: 338px;
}


.select-control{
  width:292px;
  height: 49px;
  margin-left: 200px;
}

.view-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  max-width: 160px;
}

.view-wrapper .button{
  padding: 13px 12px;
  border:2px solid #f2f2f2;
  background-color: #ffffff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  margin:0;
  list-style-type: none;
  gap: 20px;
  }

.product-card {
  background-color: #ffffff;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content min-content 36px 36px;
  column-gap: 20px;
  row-gap: 16px;
}

.product-card .button{
  padding-left: 5px;
  padding-right: 5px;
}

.product-card-image {
  margin-bottom: 16px;
}

.product-card-link {
  text-decoration: none;
  grid-column: 1/-1;
}


.product-card-title {
  font-weight: 700;
  color: #000000;
  margin:0;
}

.rating{
  background: #F2F2F2;
border-radius: 4px;
text-align: center;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
padding-top: 9px;
padding-bottom: 8px;
}

.stars{
  box-sizing: border-box;
  height: 17px;
  width:42px;
  background-image: url(../images/star.svg);
  background-repeat: space;
}


.stars-3{
  width: 66px;
}

.stars-4{
  width: 89px;
}


.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-left: auto;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
  margin-top: 80px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
 }

.pagination-link {
  display:block;
  box-sizing: border-box;
  text-align: center;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 4px;
  padding-top: 12px;
}

.pagination-current {
  color: #242424;
  background-color: #f2f2f2;
}

.pagination-dots{
  background-color: #ffffff;
}
